<!--
 * @Author: your name
 * @Date: 2020-10-21 22:05:24
 * @LastEditTime: 2020-10-22 23:38:42
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Editz
 * @FilePath: \waijieProject\src\views\grouping.vue
-->
<template>
  <div class="groupingStyle">
    <div class="header">创建分组</div>
    <div class="top">
      <div class="inputView">
        名称：item
        <input type="text" placeholder="请输入内容" />
      </div>
      <div class="groupList">
        <div class="groutItem" v-for="(item, index) in groupList" :key="index">
          <div class="groutHeader">{{index+1}}组（{{item.length}})人</div>
          <div class="studentList">
            <div class="student" v-for="(it, i) in item" :key="i">
              <img
                class="avatar"
                :src="it.avatar"
              />
              <span class="studentName">{{it.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="unclassified">
      <div v-for="item in 100" :key="item" class="student">
        <img
          class="avatar"
          src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg"
        />
        <span class="studentName">学生1</span>
      </div>
    </div>
    <div class="operatingView">

    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      input: "",
      groupNum:10,
      groupList: [
        [
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:1,selected:true},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生2',sid:2,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:3,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:4,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:5,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:6,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:7,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:8,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:9,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:10,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:11,selected:false},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:12,selected:false}
        ],
        [
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:1},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:2},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:3},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:4},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:5},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:6},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:7},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:8},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:9},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:10},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:11},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:12}
        ],
        [
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:1},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:2},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:3},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:4},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:5},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:6},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:7},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:8},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:9},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:10},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:11},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:12}
        ],
        [
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:1},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:2},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:3},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:4},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:5},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:6},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:7},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:8},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:9},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:10},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:11},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:12}
        ],
        [
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:1},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:2},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:3},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:4},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:5},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:6},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:7},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:8},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:9},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:10},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:11},
          {avatar:"https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg",name:'学生1',sid:12}
        ]
      ]
    };
  },
  created() {},
  computed: {},
  methods: {},
};
</script>
<style lang='scss' scoped>
.groupingStyle {
  width: 100%;
  //   background-color: #ffa;
  height: 100%;
  .header {
    padding-left: 12px;
    line-height: 34px;
    background-color: blueviolet;
    height: 34px;
    display: flex;
    font-family: "PingFangSC-Regular", "PingFang SC", sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #ffffff;
  }
  .top {
    height: 449px;
    border-bottom: 2px solid #666;
    .inputView {
      padding-left: 12px;
      height: 34px;
      font-family: "PingFangSC-Regular", "PingFang SC", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      background-color: #ddd;
      line-height: 34px;
      .input {
        display: inline;
      }
    }
    .groupList {
      flex-wrap: wrap;
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: space-evenly;
      word-wrap: break-word;
      word-break: break-all;
      overflow: auto;
      .groutItem {
        margin-top: 10px;
        height: 383px;
        width: 236px;
        border: 1px solid #ddd;
        .groutHeader {
          width: 236px;
          height: 48px;
          background-color: #ddd;
          font-family: "PingFangSC-Regular", "PingFang SC", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 18px;
          color: #70b603;
          line-height: 48px;
          text-align: center;
        }
        .studentList {
          display: flex;
          justify-content: space-evenly;
          align-content: space-evenly;
          flex-wrap: wrap;
          width: 100%;
          height: 335px;
          .student {
            position: relative;
            width: 70px;
            height: 70px;
            background-color: aquamarine;
            .avatar {
              width: 100%;
              height: 100%;
            }
            .studentName {
              position: absolute;
              left: 0;
              bottom: 0;
              text-align: center;
              flex: 1;
              color: cornsilk;
              width: 100%;
              background-color: chartreuse;
            }
          }
        }
      }
    }
  }
  .unclassified {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow: auto;
    justify-content: space-evenly;
    // align-content: space-between;

    .student {
      position: relative;
      width: 70px;
      height: 70px;
      background-color: aquamarine;
      .avatar {
        width: 100%;
        height: 100%;
      }
      .studentName {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        flex: 1;
        color: cornsilk;
        width: 100%;
        background-color: chartreuse;
      }
    }
  }
  .operatingView{
    background-color: darkcyan;
    height: 54px;
  }
}
</style>
